<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>872577680636-7o1brv7sr79ugd5evbe4bnq76bqodu49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872577680636-7o1brv7sr79ugd5evbe4bnq76bqodu49</string>
	<key>API_KEY</key>
	<string>AIzaSyC0iBA8hiYvH-AzewmUZg0E9W2s4dtRR68</string>
	<key>GCM_SENDER_ID</key>
	<string>872577680636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HaydenJamieson.For-Sale</string>
	<key>PROJECT_ID</key>
	<string>for-sale-f0258</string>
	<key>STORAGE_BUCKET</key>
	<string>for-sale-f0258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872577680636:ios:622e3298a9cb5b5e</string>
	<key>DATABASE_URL</key>
	<string>https://for-sale-f0258.firebaseio.com</string>
</dict>
</plist>